.photo{
    height: 50px;
    width: 50px;
}
.post{
    margin-top: 10px;
}

.margin-top{
    margin-top: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5%;
  background-color: #f5f5f5;
}

.content{
    min-height: 95%;
}