{% extends 'representation/base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
        <div class="col-md-9" style="border: 1px solid red">
            <div class="row">
                <div style="border: 1px solid red">{{ user_profile.name }} {{ user_profile.first_name }}</div>
                <div class="col-md-4">

                    <img src="
                    {%  if user_profile.user_photo_avatar %}
                        {{ user_profile.user_photo_avatar.url }}
                    {% else %}
                        /media/users/avatar/default/default.jpg
                    {% endif %}
                    " alt="" class="img-rounded" style="width: 200px; height: 200px;">
                    {% if user_profile.user != request.user and not user_outgoing_friend_requests and not user_friend and not user_followings %}
                        <form method="post" action="{% url 'representation:friend:requestFriendAdd'%}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ user_profile.user.id }}" name="to_user">
                            <input type="submit" value="Добавить в друзья">
                        </form>
                    {% endif %}
                    {% if user_profile in request.user.friends.all %}
                        <form method="post" action="{% url 'representation:friend:FriendDelete'%}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ user_profile.user.id }}" name="to_user">
                            <input type="submit" value="Убрать из друзей">
                        </form>
                    {% endif %}
                    {% if user_profile.user != request.user %}
                        <a href="{% url 'representation:message:new' user_profile.user.id %}"><button>Отправить сообщение</button></a>
                    {% endif %}
                </div>
                <div class="col-md-8" style="border: 1px solid green">
                    <div style="border: 1px solid red">
                        <div>
                            <h4>{{ user_profile.first_name }} {{ user_profile.name }}</h4>
                            <p>Статус</p>
                        </div>
                        <div>
                            <div class="">
                                <div class="">День рождения: {{ user_profile.birthday }}</div>
                                <div>Родной город: {{ user_profile.home_town }}</div>
                                <div>Языки:
                                    {% for lang in user_profile.languages.all %}
                                        {{ lang.name }}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border: 1px solid blue; margin-top: 50px">
                        <a href="{% url 'representation:post:all' user_profile.user.id %}">All posts</a><br>
                        {% for post, comments in post_with_comments.items%}
                            {{ post }}
                            <ul>
                            {% for comment in comments %}
                                <li>{{ comment }}</li>
                            {% endfor %}
                            </ul>
                            <br>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
