{% extends 'representation/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
        <div class="col-md-9" style="border: 1px solid red">
            <div class="row">
                <div style="border: 1px solid red">{{ user_profile.name }} {{ user_profile.first_name }}(это вы)</div>
                <div class="col-md-4">

                    <img src="
                    {%  if user_profile.user_photo_avatar %}
                        {{ user_profile.user_photo_avatar.url }}
                    {% else %}
                        /media/users/avatar/default/default.jpg
                    {% endif %}
                    " alt="" class="img-rounded" style="width: 200px; height: 200px;">
                </div>
                <div class="col-md-8" style="border: 1px solid green">
                    <div>
                        <h4>{{ user_profile.first_name }} {{ user_profile.name }}</h4>
                        <p>Статус</p>
                    </div>
                    <div>
                        <div class="">
                            <div class="">День рождения: {{ user_profile.birthday }}</div>
                            <div>Родной город: {{ user_profile.home_town }}</div>
                            <div>Языки:
                                {% for lang in user_profile.languages.all %}
                                    {{ lang.name }}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
